<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fyle</title>
    
    <link href="styles/style.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	
    <div class="container" data-ng-controller="bankBranchesController as bbc">
        <h2>Bank Branches</h2>
        <div class="fields-area">
            <select ng-options="city as city for city in bbc.cities" ng-model="bbc.selectedCity" ng-change="bbc.loadCityBranches()"></select>
            <input type="search" placeholder="Search" ng-model="searchText" />
        </div>

        <div class="branches-table-area">
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="label in bbc.branchHeadingArr">{{label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="value in bbc.branchDataArr | filter:searchText">
                        <td>{{$index + 1}}</td>
                        <td>{{value.ifsc}}</td>
                        <td>{{value.bank_id}}</td>
                        <td>{{value.branch}}</td>
                        <td>{{value.address}}</td>
                        <td>{{value.city}}</td>
                        <td>{{value.district}}</td>
                        <td>{{value.state}}</td>
                        <td>{{value.bank_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <spinner-loader></spinner-loader>

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="app/app.js"></script>

    <!--DIRECTIVES-->
    <script src="controllers/bankBranchesController.js"></script>

    <!--SERVICES-->
    <script src="services/bankBranchesService.js"></script>

</body>

</html>
